@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@100..900&display=swap');

/******************     BASE     ******************/


a {
    text-decoration: none; 
}

p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    color: #000000;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    width: 100%;
    max-width: 1250px;
    border: 0px solid blue;
    margin-bottom: 70px;
}
ul
{
    list-style: none;
}

/******************     BASE     ******************/


/******************     HEADER     ******************/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 5px;
    background-image: linear-gradient(to right, #1a2158, #3845bd);
    /*background-image: linear-gradient(to right, rgba(2,0,36,1) 90%,  rgba(255,255,255,1) 15%);*/
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 75%, rgba(255,255,255,1) 100%);
    box-sizing: border-box;
    z-index: 10;
}
header .cabecalho
{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 40px;
    border: 2px solid orange;
}
header .logo-lacen 
{
    margin-top: 0px;
    margin-left: 10px;
    width: 110px;
    height: 110px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(80, 154, 252);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px #000;
    z-index: 100;
}
header .logo-lacen img
{
    max-width: 100%;
    width: 60%;
}
header .governo-pe
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
    border: 0px solid rgb(115, 255, 0);
    box-sizing: border-box;
}
header .logo-ses
{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border: 0px solid yellow;
    width: auto;
    max-width: 40%;
    height: 100%;
    color: rgb(19, 33, 104);
}
header .logo-ses img
{
    width: 100%;
    max-width: auto;
    max-height: 60px;
    border: 0px solid red;

}

/* header .logo-ses h5
{
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px solid blue;
}
header .logo-ses h6
{
    font-size: 0.55rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}
    */
header nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
    margin-top: 70px;
    width: 70%;
    height: 10px;
    padding: 0 0 0 12px;
    gap: 80px;
    color: #ffffff;
    background-color: transparent;
    border: 0px solid yellow;

}

header nav ul
{
    display: flex;
    flex: 3;
    gap: 30px;
}
header nav ul li
{
    color: white;
}
header nav ul li a
{
    margin-right: 20px;
    color: #ffffff;
}
header nav ul li a:hover
{
    color: #eaeaea;
}
header nav .pesquisa-site
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -10px;
    border: 0px solid greenyellow;

}

header nav .pesquisa-site input
{
    flex: 1;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 0.8rem;
    border-radius: 20px;
    width: 250px;
    background-color: white;
}

header nav .pesquisa-site button
{
    margin-bottom: 10px;
}


        /******************     RESPONSIVIDADE     ******************/

        @media (min-width: 1024px) {
            header .logo-ses img {
                width: auto; 
                max-height: 70px; 
                margin: 0 auto; 
            }
        }

        @media (max-width: 868px) {
            header .logo-ses img {
                display: none;
            }

            header nav .pesquisa-site {
                display: none;
            }

            header nav .pesquisa-site input {
                display: none;
            }
        }

        @media (max-width: 425px) {
            header .logo-ses img {
                display: none;
            }

            header nav .pesquisa-site {
                display: none;
            }

            header nav .pesquisa-site input {
                display: none;
        }

        }
            
            
        /******************     RESPONSIVIDADE     ******************/


/******************     HEADER     ******************/



/******************     MAIN     ******************/

main
{
    width: 100%;
    border: 0px solid greenyellow;

}
.titulo
{
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.titulo-2
{
    font-size: 42px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
}
.titulo-3
{
    font-size: 42px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sub-titulo
{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555;
}
.secao-titulo
{
    margin-top: 40px;
    
}
.secao-titulo-pagina-nivel2
{
    margin-top: 150px;
    margin-bottom: 40px;
    
}
.secao-titulo-pagina-nivel2 .titulo-pagina
{
    width: 55%;
    font-size: 3.7rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #000000;
    border-bottom: 1px solid #555;
}


/******************     MAIN - SLIDES     ******************/
main .secao-slides
{
    width: 110%;
    position: relative;
    border: 0px solid magenta;
    z-index: 1;
}
main .secao-slides img
{
    margin-top: 100px;
    width: 100%;
    max-width: 1250px;
}
/******************     MAIN - SLIDES     ******************/


/******************     MAIN - INFORMACOES     ******************/

main .secao-informacoes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    margin-top: 50px;
    padding-left: 10px;
    border: 0px solid rgb(0, 255, 140);
}
main .secao-informacoes .leftside
{
    display: flex;
    flex-direction: column;
    width: 310px;
    
}
main .secao-informacoes .leftside .btn-link-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    margin-bottom: 12px;
    padding: 15px 25px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background-color: #1a2158;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

}

main .secao-informacoes .leftside .btn-link-info:hover {
    color: #eeebeb;
    background-color: #131845;
}


main .secao-informacoes .rightside
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    border: 0px solid red;
}
main .secao-informacoes .rightside .ultimas-noticias
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 40%;
    border: 0px solid blue;
}

main .secao-informacoes .rightside .ultimas-noticias p
{
    margin-top: 20px;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}
main .secao-informacoes .rightside .ultimas-noticias-img
{
    width: 100%;
    margin-left: 100px;
}
main .secao-informacoes .rightside .ultimas-noticias-img img
{
    width: 100%;
    max-width: 100%;
}

/******************     MAIN - INFORMACOES     ******************/


/******************     MAIN - SERVIÇOS     ******************/

main .secao-servicos
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    width: 100%;
    border: 0px solid rgb(137, 68, 4);
}
main .secao-servicos .links-servicos
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
main .secao-servicos .links-servicos .btn-link-servico
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    padding: 12px;
    width: 170px;
    height: 170px;
    font-weight: 500;
    color: white;
    background-color: #1a2158;
    border-radius: 50%;
}

main .secao-servicos .links-servicos .btn-link-servico:hover {
    color: #eaeaea;
    background-color: #131845;

    
    
}

/******************     MAIN - SERVIÇOS     ******************/



/******************     MAIN     ******************/


/******************     COMO-CHEGAR     ******************/

.secao-como-chegar
{
    margin-top: 150px;
    width: 100%;
    border: 0px solid rgb(4, 113, 137);
}
.secao-como-chegar .titulo-2
{
    margin-left: 300px;
    font-size: 35px;
}
.secao-como-chegar .mapa iframe
{
    margin-top: 20px;
    width: 100%;
    height: 360px;
    border: 1px solid #888;
}
/******************     COMO-CHEGAR     ******************/


/******************     FOOTER     ******************/

footer
{
    padding: 50px;
    width: 100%;
    
    background-color: #1a2158;
}
footer .endereco
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
footer .logo-lacen 
{
    margin: -10px auto 20px;
    width: 115px;
    height: 115px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(80, 154, 252);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px #000;
    z-index: 100;
}
footer .logo-lacen img
{
    max-width: 100%;
    width: 60%;
}


/******************     FOOTER     ******************/



/******************     PÁGINA - INSTITUCIONAL     ******************/

/******************     SECAO - INSTITUCIONAL     ******************/

main .secao-institucional .titulo
{
    margin: 60px 30px 30px 30px;
    text-transform: capitalize;
    border-bottom: 1px solid #888;
}
main .secao-institucional .area-texto
{
    margin: 40px 60px 60px 60px;
}
main .secao-institucional .area-texto p
{
    margin: 0 10px 20px 10px;
    text-align: justify;
}

/******************     SECAO - INSTITUCIONAL     ******************/




/******************     PÁGINA - INSTITUCIONAL     ******************/



/******************     PÁGINA - CONTATO     ******************/

.secao-contato .titulo
{
    margin: 60px 30px 30px 30px;
    text-transform: capitalize;
    border-bottom: 1px solid #888;
}
.area-contato
{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 0 0 10px;
    margin: 40px 60px 60px 60px;
    border-top: 0px solid blue;
}
.area-contato .cabecalho-dados
{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

/******************     PÁGINA - ÁREAS DO LACEN     ******************/
main .secao-institucional .titulo-3
{
    margin: 60px 30px 30px 30px;
    border-bottom: 1px solid #888;
}
.areas-lacen-texto
{
    display: flex;
    margin: 60px 50px;
    border: 0px solid orange;
}
.areas-lacen-texto .sigla, .descricao
{
    padding: 8px;
}

/******************     FIM DE PÁGINA - ÁREAS DO LACEN     ******************/

.cabecalho-area
{
    width: 20%;
}
.cabecalho-contato
{
    width: 30%;
}
.cabecalho-telefone
{
    width: 10%;
}
.cabecalho-email
{
    width: 40%;
}
.dados
{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5px 0 5px 0px;
}
.dados .dados-area
{
    width: 20%;
}
.dados .dados-contato
{
    width: 30%;
}
.dados .dados-telefone
{
    width: 10%;
}
.dados .dados-email
{
    width: 40%;
}
/*
.area-contato .cabecalho-dados
{
    display: grid;
    grid-template-columns: 200px 400px 100px 500px;
 /*   grid-template-areas: 
        'area area area area'
        'contato contato contato contato'
        'telefone telefone telefone telefone'
        'email email email email';
*/
/*
    gap: 15px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    color: #1e2cab;
    font-size: 1.4rem;
    font-weight: 600;
    border: 0px solid green;
}
.dados
{
    display: grid;
    grid-template-columns: 200px 400px 100px 500px;
    gap: 10px;
}
.dados-area
{
/*    grid-area: dados-area;*/
/*
    grid-column-start: 1;
    grid-column-end: 2;
    width: 200px;
}
.dados-contato
{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 300px;
}
.dados-telefone
{
    grid-column-start: 3;
    grid-column-end: 4;
}
.dados-email
{
    grid-column-start: 4;
    grid-column-end: 5;
}
.area-contato .dados
{
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    /*
    grid-template-columns: 100px 300px 50px 300px;
    gap: 20px;
    /*grid-column-gap: 20px;
    grid-row-gap: 30px;*/
    /*
    padding: 2px;
    color: #1e2cab;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    border: 0px solid green;
}
.area-contato .dados .dados-info
{
    width: 100%;
    padding: 5px;
    border: 0px solid red;
}
*/



/******************     PÁGINA - CONTATO     ******************/


/******************     PÁGINA - ÚLTIMAS NOTÍCIAS     ******************/

/*.pagina_ultimas_noticias
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
    padding: 40px 0;
    border: 0px solid greenyellow;
}
.ultimas_noticias
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
    height: 60vh;
    border: 0px solid greenyellow;
}

.pagina_ultimas_noticias h1
{
    border-bottom: 2px solid #888;
}
.destaque
{
    width: 80%;
    height: 60vh;
    border: 1px solid black;
}
.noticias_anteriores
{
    width: 20%;
    height: 60vh;
    background-color: #aaaaaa;
}*/


.banner-sec .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #797979;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.banner-sec {
    float: left; width:100%;
    margin-top: 200px;
}
.banner-sec .news-block{margin-bottom: 20px}
.banner-sec .news-block:last-child{margin-bottom: 0px}
.banner-sec .news-des {margin-bottom: 5px;}
.banner-sec .title-large{margin: 18px 0 0}
.banner-sec .time{margin-top: 0px; font-size: 13px;}
.banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;}
.banner-sec .card{margin-bottom:20px;}



/******************     PÁGINA - ÚLTIMAS NOTÍCIAS     ******************/






/******************     PÁGINA - 'EXAMES' OFERTADOD     ******************/
.container-exames
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 60px;
    /*max-width: 1250px;*/
    /*
    background-image: url("../imagens/exames/microscopio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-mask-image: linear-gradient(to right, transparent 65%, white 100%);
    */
    background-image: linear-gradient(to left, transparent 0%, #fff 40%), url(../imagens/exames/microscopio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border: px solid blue;
}

.container-n2-geral
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1250px;
}

.container-n2
{
    width: 100%;
    max-width: 1250px;
    /*z-index: 100;*/
}
.nav_paginas ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50px;
    gap: 5px;
    padding: 5px;
    /*border-bottom: 2px solid rgb(194, 194, 194);*/
}
.nav_paginas a
{
    color: black;
}

.nav_exames .dir
{
    color:#616161
}
.exames_ofertados
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 0 5px;
    width: 100%;
    border: 1px solid blue;
    /*z-index: 1;*/
}

.exames_ofertados .titulo
{
    font-size: 2.7rem;
    text-transform: capitalize;
    padding: 30px;
    border: 0px solid red;
}
.secao-titulo h1
{
    font-size: 2rem;
    margin-top: 0px;
    padding: 5px;
    border: 0px solid red;
}

.container_quadros_exames
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 160px;
    width: 100%;
    border: 0px solid red;
    /*z-index: 100;*/
}
.quadro_exames
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 31%;
    padding: 0 10px 0 0;
    border-left: 1px solid #cccccc;
    border-right: 0px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: 1px 4px 4px #aaaaaa;
    
}
.quadro_exames h1
{
    margin-top: 2px;
    margin-bottom: 0px;
    width: 100%;
    padding: 10px 0px 0px 10px;
    font-size: 2.2rem;
    font-weight: bolder;
    text-align: left;
    color: #000000;
}
.lista_exames
{
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 8px 8px 30px 0;;
    width: 100%;
    font-size: 1.0rem; 
    /*border: 1px solid #ccc;
    /*border-radius: 20px;
    /*overflow-y: scroll;*/

}
.lista_exames a
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 2px 2px;
    color: #474747;
    font-size: 1.15rem;
    font-weight: 900;
    transition: 0.3s;
    /*z-index: 100;*/
}
.lista_exames a:visited
{
    color: #474747;
}

/*
.lista-exames li
{
    list-style: square;
    padding: 2px 2px;
    font-size: 1.0rem;
    font-weight: 500;
}*/

.lista_exames a:visited
{
    color: #000000;
}
.lista_exames a:hover
{
    
    color: #4c73ff;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px #bec4f8;
}

    /******   PÁGINA DA DESCRIÇÃO DOS EXAMES    ******/

.pagina_exame
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0px;
    border: 0px solid red;
}
.conteudo
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 40px 20px 40px;
    border-bottom: 0px solid #474747;
}
.titulo_exame
{
    margin-top: 2px;
    margin-bottom: 50px;
    width: 100%;
    padding: 10px 0 10px 0;
    /*font-size: 2.7rem;*/
    font-family: "Inter";
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #000000;
    border-bottom: 2px solid #5B5A5A;
    /*background-color: #3845bd;
    background-image: linear-gradient(to bottom, #8893f5, #3845bd);
    background-image: linear-gradient(to bottom, #93bbf7, #3872bd);
    border-radius: 6px;
    box-shadow: 2px 2px 5px #555;*/
}
.conteudo h3
{
    margin-bottom: 3px;
    border: 0px solid blue;
}
.conteudo p
{
    margin-bottom: 10px;
    border: 0px solid red;
}
.conteudo ul
{
    margin-top: -10px;
    margin-bottom: -1px;
    border: 0px solid red;
}
.conteudo ul li
{
    list-style-type: disc;
    margin-left: 16px;
}


    /***   FIM DE PÁGINA DA DESCRIÇÃO DOS EXAMES   ***/


/******************    FIM DE PÁGINA - EXAMES OFERTADOD     ******************/

/******************    ORGANOGRAMA     ******************/

.organograma
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0px solid #444;
}

.organograma_gaqple
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 70%;
    height: 200px;
    border: 1px solid #909090;
    border-radius: 10px;
}

.organograma_setor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 8px;
}
.organograma_setores_linha
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.setor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid #444;
    border-radius: 8px;
}
.organograma_setores_linha a:hover
{
    font-weight: 800;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #4c73ff;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #444;
}

/******************  FIM DE ORGANOGRAMA     ******************/





/******************    SECÃO DE SERVIÇOS     ******************/

.pagina_servicos
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0;
    width: 100%;
    border: 0px solid #444;
}
.pagina_servicos h1
{
    margin: 20px 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    border: 0px solid #ccc;
    border-bottom: 2px solid #8f8f8f;
}
.pagina_servicos_box_interno
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0;
    width: 100%;
    border: 0px solid #c80000;
}
.titulo_conteudo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0px solid green;
}
.titulo_conteudo h1
{
    width: 80%;
    text-align: center;
}
.imagem_conteudo
{
    width: 180px;
    height: 180px;
    border: 0px solid #ccc;
    border-radius: 50%;
}
.imagem_conteudo img
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #444;
}
.pagina_servicos_menu
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    border: 0px solid #444;
}
.pagina_servicos_conteudo
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    padding: 10px;
    border: 0px solid #444fff;
}
.texto_conteudo
{
    margin: 40px 20px;
}




/******************  SECÃO DE SERVIÇOS - GAL    ******************/
.pagina_servico_gal
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0 60px 0;
    border: 0px solid black;
}
.pagina_servico_gal .imagem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    
    margin-top: -5%;
    margin-left: -85%;
    padding: 0 90px 0 0;
    width: 80%;
    height: 50wh;
    color: #ffffff;
    font-size: 3rem;
    border-radius: 50%;
    background-color:   #1a2158;
    border: 0px solid green;
    box-shadow: 5px 3px 8px #888;
}
.pagina_servico_gal .conteudo
{
    margin-left: 15%;
    padding-top: 90px;
    width: 70%;
    height: 80%;
    font-size: 1.3rem;
    color: #888;
    border: 0px solid orange;
}
.conteudo_p_funcoes
{
    margin-top: 30px;
}
.conteudo_topicos_funcoes
{
    padding: 15px 0 3px 40px;
}
.pagina_servico_gal .conteudo h3
{
    margin-top: 60px;
}
/*
.acesso_rapido
{
    border: 1px solid red;
}
*/
.acesso_rapido h4
{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.acesso_rapido li
{
    
    margin-left: 100px;
}
.acesso_rapido p
{
    
    margin-left: 100px;
}
/****************** FIM DE SECÃO DE SERVIÇOS - GAL    ******************/




/******************  SECÃO DE SERVIÇOS - GAQPLE - NEPEL    ******************/
.pagina_servico_gaqple_nepel
{

}





/******************  FIM DE SECÃO DE SERVIÇOS - GAQPLE - NEPEL    ******************/



/******************  FIM DE SECÃO DE SERVIÇOS     ******************/



/******************     TELA MAXIMA 800PX     ******************/
@media (max-width: 800px)
{
    main .secao-informacoes .rightside
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        border: 0px solid red;
    }
    main .secao-informacoes .rightside .ultimas-noticias
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 80%;
        border: 0px solid blue;
    }
    main .secao-informacoes .rightside .ultimas-noticias-img
    {
        width: 80%;
        margin-left: 10px;
    }
    main .secao-informacoes .rightside .ultimas-noticias-img img
    {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
    }

}



/******************     TELA MAXIMA 800PX     ******************/


/******************     TELA MAXIMA 425PX     ******************/
@media (max-width: 425px)
{
    main .secao-informacoes
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .secao-informacoes .rightside
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        border: 0px solid red;
    }
    main .secao-informacoes .rightside .ultimas-noticias
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 80%;
        border: 0px solid blue;
    }
    main .secao-informacoes .rightside .ultimas-noticias-img
    {
        width: 80%;
        margin-left: 10px;
    }
    main .secao-informacoes .rightside .ultimas-noticias-img img
    {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
    }

    main .secao-servicos
    {
        align-items: center;
    }
    main .secao-servicos .links-servicos
    {
        flex-direction: column;
    }
    main .secao-servicos .links-servicos .btn-link-servico
    {
        margin-bottom: 10px;
    }

    .secao-como-chegar
    {
        margin-top: 100px;
        width: 100%;
        text-align: center;
        border: 0px solid rgb(4, 113, 137);
    }
    .secao-como-chegar .titulo-2
    {
        margin-left: 0;
        font-size: 35px;
    }

    footer
    {
        position: fixed;
        bottom: 0;
        margin-top: 60px;
        font-size: 0.8rem;
        text-align: center;
    }
}



/******************     TELA MAXIMA 425PX     ******************/
